@{
    ViewData["Title"] = "Lista de Contatos";
}
<div class="text-center">
    <h1 class="display-4">Lista de Contatos</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col">
                    <div class="">
                        <a class="btn btn-success px-lg-2" role="button" asp-controller="Contact" asp-action="CreateContact">Adicionar Contato</a>
                    </div>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto@gmail.com</td>
                <td>(11) 92323-2323</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Contact" asp-action="EditContact">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contact" asp-action="DeleteContact"> Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton@gmail.com</td>
                <td>(31) 93434-0909</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Contact" asp-action="EditContact">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contact" asp-action="DeleteContact">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>Larry@gmail.com</td>
                <td>(52) 93232-5463</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Contact" asp-action="EditContact">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contact" asp-action="DeleteContact">Apagar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>